prefix = ~/.local
{{#if npmrc.registry_auth_npm}}
registry=https://{{npmrc.registry_auth_npm}}
//{{npmrc.registry_auth_npm}}:_auth={{command_output "cat \"$XDG_RUNTIME_DIR\"/dotter/registry-auth-encode"}}
always-auth=true
{{else}}
registry=https://registry.npmmirror.com
{{/if}}