#main {
    border-radius: 8px;
    background-color: #263238;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#base {
    margin: 10px;
}

.fullscale {
    height: 100%;
    width: 100%;
}

.colflex {
    display: flex;
    flex-direction: column;
}

.rowflex {
    display: flex;
    flex-direction: row;
}

.workspace {
    margin: 8px;
    border-radius: 6px;
    background-color: #37474F;
    border-width: 0px;
}

/* 空工作区 */
.workspace_empty {
    margin: 8px;
    border-radius: 2px;
    background-color: #263238;
    border-width: 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.window {
    width: 112px;
    height: 84px;
    background-color: #0000FF;
    border-radius: 4px;
    border-width: 0px;
    margin: 4px;
}

/* 不存在的窗口 */
.window_hidden {
    width: 112px;
    height: 84px;
    background-color: #37474F;
    border-radius: 2px;
    border-width: 0px;
    margin: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    opacity: 0.6;
}

.window_active {
    width: 112px;
    height: 84px;
    background-color: #2196F3;
    border-radius: 4px;
    border-width: 0px;
    margin: 4px;
}

.title {
    width: 100%;
    height: 20px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 4px;
    color: #FFFFFF;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.content {
    width: 100%;
    height: 100%;
    margin-left: 8px;
    margin-right: 8px;
    color: rgba(255, 255, 255, 0.70);
    vertical-align: top;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 16px;
}

.number {
    width: 20px;
    height: 20px;
    right: -10px;
    top: -10px;
    color: #FFFFFF;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: #FF5722;
    border-radius: 50%;
}
