[Unit]
Description=Multica Agent Runtime Daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecSearchPath={{#each agent_tunnel.systemd_exec_search_paths}}{{this}}:{{/each}}{{trim (command_output "systemd-path search-binaries-default")}}
# {{#if multica.server_url}}
ExecStartPre=multica config set server_url {{multica.server_url}}
# {{/if}}
# {{#if multica.app_url}}
ExecStartPre=multica config set app_url {{multica.app_url}}
# {{/if}}
ExecStart=multica daemon start --foreground
Restart=always
RestartSec=5

[Install]
WantedBy=default.target