[% set providers = {} %]
[% for client_key, client in clients.items() %]
  [% set pi_provider = {
    "api": "openai-completions",
    "apiKey": client.api_key,
    "baseUrl": deployments[0].base_url,
    "compat": {
      "maxTokensField": "max_tokens",
      "supportsDeveloperRole": false
    },
    "models": []
  } %]
  [% set provider_base_url = deployments[0].base_url | trim %]
  [% for deployment in deployments %]
    [% for model in deployment.models %]
      [% set model_base_url = deployment.base_url.rstrip('/') %]
      [% set model_id = model.id %]
      [% set compat = {"cacheControlFormat": "anthropic"} %]
      [% if deployment.name == "azure" %]
        [% set model_id = model.id ~ "-sdlc-gs" %]
        [% set compat = {} %]
      [% endif %]
      [% set pi_model = {
        "id": model_id,
        "name": model.name,
        "contextWindow": model.context_window,
        "maxTokens": model.max_tokens,
        "input": model.input,
        "compat": compat
      } %]
      [% if model_base_url != provider_base_url %]
        [% set _ = pi_model.update({"baseUrl": model_base_url}) %]
      [% endif %]
      [% if deployment.name == "azure" %]
        [% set _ = pi_model.update({"api": "openai-responses"}) %]
      [% endif %]
      [% if model.reasoning_enabled %]
        [% set _ = pi_model.update({"reasoning": true}) %]
        [% if model.thinking_level_map %]
          [% set thinking_level_map = model.thinking_level_map.copy() %]
          [% if deployment.name == "azure" %]
            [% set _ = thinking_level_map.update({"off": "none"}) %]
          [% endif %]
          [% set _ = pi_model.update({"thinkingLevelMap": thinking_level_map}) %]
        [% endif %]
      [% endif %]
      [% if model.reasoning_format %]
        [% set _ = pi_model.compat.update({"thinkingFormat": model.reasoning_format}) %]
      [% endif %]
      [% set _ = pi_provider.models.append(pi_model) %]
    [% endfor %]
  [% endfor %]
  [% set _ = providers.update({client_key: pi_provider}) %]
[% endfor %]
[[ providers | tojson ]]
